<h1>Medium Ranker</h1>

<h3> Rank Mediums! </h3>

<div class="top-five" id= "top-historical">
  <h2> Historical <h2>
    <% @hist_ms.each do |medium| %>
      <%= medium.name %>
      ranked: <%= 
</div>

<div class="top-five" id= "top-fictional">
  <h2> Fictional <h2>
</div>

<div class="top-five" id= "top-current">
  <h2> Current <h2>
</div>
