
.page-header {
  background: url('boo_ghost_sm.png');
  background-repeat: no-repeat;
  margin: 40px 0 20px 10px;
  border-bottom: 2px solid #BD5726 !important;
}

.page-header h1 {
  margin-left: 125px;
}

body {
  background: #867A8C;
}

small {
  color: #504954 !important;
}

h1, h2, h3, h4 {
  color: #3A2640;
}

a {
  color: #572811;
}

a:hover {
  color: #97461E;
  text-decoration: none;
}

form {
  display: inline;
}

form * {
  display: inline;
}

.btn-default {
  border: 1px solid #97461E;
  background-color: #C65725;
  color: #5C2410;
}

.btn-default:hover {
  border: 1px solid #97461E;
  background-color: #F06000;
}

.btn-danger {
  border: 1px solid #776799;
  background-color: #432A7A;
  color: #776799;
}

.btn-danger:hover {
  border: 1px solid #432A7A;
  background-color: #776799;
  color: #432A7A;
}

.btn {
  display: inline !important;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  border-top: none !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #A16337;
}

footer {
  text-align: right;
  margin-top: 2em;
  margin-bottom: .5em;
}
